{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-md-center my-3">
        <div class="col-md-6">
            <h1 class="title-page text-center pb-3">{{ action }} snippet</h1>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">{{ action }}</button>
            </form>
        </div>
    </div>

    {% comment %} <script>

        customElements.define("my-editor", class extends HTMLElement {
            static get observedAttributes() {
                return ["theme"];
            }
            
            connectedCallback(script = document.createElement("SCRIPT")) {
                script.src = `//cdnjs.cloudflare.com/ajax/libs/ace/${this.dataset.version}/ace.js`;
                script.onload = () => {
                    this.innerHTML = `<div id=editor_container>${myEditor.innerHTML}</div>`;
                    this.editor = ace.edit("editor_container", {
                        mode: "ace/mode/" + (this.dataset.mode || "javascript"),
                    });
                    
                    this.setAttribute("theme", this.getAttribute("theme"));
                }
                
                document.head.append(script);
            }
            
            attributeChangedCallback(name, oldValue, newValue) {
                if (this.isConnected && name == "theme") this.editor.setTheme("ace/theme/" + newValue);
            }
        });
 
    </script> {% endcomment %}
{% endblock %}