{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h5 class="my-5 title-page">Snippets: {{ snippetUsername }}</h5>
            {% for i in snippets %}
                <!-- SNIPPET -->
                <div class="card">
                    <h5 class="card-header">{{ i.name }} <a href="{% url 'user_snippets' username=snippetUsername %}"
                                                            class="float-right"><small>{{ snippetUsername }}</small></a>
                    </h5>
                    <div class="card-body">
                        <a href="{% url 'language' language=i.language.slug %}"><h5 class="card-title">{{ i.language.name }}</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">Creado: {{ i.created }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Actualizado: {{ i.updated }}</h6>
                        <p class="card-text">{{ i.description }}</p>
                        <hr>
                        <div class="actions-btn">
                            <a href="{% url 'snippet' id=i.id %}" class="btn btn-primary see-snippet-btn">Ver</a>
                            <div class="owner">
                                {% if request.user.username == i.user.username %}
                                    <a href="{% url 'snippet_edit' id=i.id %}" class="btn btn-info">Editar</a>
                                    <a href="{% url 'snippet_delete' id=i.id %}?from=user" class="btn btn-danger">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- FIN SNIPPET -->
            {% endfor %}
        </div>
    </div>
{% endblock %}