body{
    background: rgb(234,232,228);
    background: linear-gradient(180deg, rgba(234,232,228,1) 0%, rgba(255,255,255,1) 77%);
    color: #262626;
    min-height: 100vh;
    font-family: "Roboto Mono", serif;

    .title-page{
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 3rem;
    }
}

*:focus {
    outline: none !important;
}

*:active{
    outline: none !important;
}

button[type="submit"]{
    font-weight: 600;
    padding: 6px 15px;
    letter-spacing: 1px;
    border: 2px solid #191715;
    border-radius: 2rem;
    color: #F5F5F5;
    background-color: #191715;
    &:hover{
        background-color: #F5F5F5;
        color: #191715;
        border: 2px solid #191715;
    }
}

.navbar{
    background: #191715;

    a{
        color: #EAE8E4;
        font-weight: 400;
    }

    .dropdown-menu{
        background-color: #EAE8E4;
        
        a{
            color: #262626;
        }
    }

    .navbar-brand{
        margin-right: 4rem;
    }
}


/* Tarjetas */
.container{
    
    .card{
        background: #ffffff;
        border: none;
        box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .card-body{
            h6{
                font-weight: 400;
                font-size: 0.8rem;
                color: #7d858db9 !important;
            }

            .actions-btn{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn{
                    font-weight: 600;
                    padding: 6px 15px;
                    letter-spacing: 1px;
                    border: 2px solid #191715;
                    border-radius: 2rem;
                    color: #F5F5F5;
                    background-color: #191715;
                    
                    &:hover{
                        background-color: #F5F5F5;
                        color: #191715;
                    }
                }

                .btn-info, .btn-danger{
                    background-color: #F5F5F5;
                    border: 2px solid #191715;
                    width: 42px;
                    padding: 7px 10px;
    
                    &:hover{
                        background-color: #191715;

                        img{
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
                        }
                    }

                    img{
                        width: 20px;
                    }
                }

            }
        }

        .highlight{
            font-size: 1.3rem;
        }
    }
}
