{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="row justify-content-md-center" style="padding-top:20px;">
        <div class="col-md-8">
            {% if language_header %}
                <h1 class="py-4 title-page">Snippets: {{ language_header.name }}</h1>
            {% else %}
                <h1 class="py-4 title-page" style="font-size:4rem;">Snippets</h1>
            {% endif %}
            {% for i in snippets %}
                <!-- SNIPPET -->
                <div class="card">
                    <h5 class="card-header">{{ i.name }} <a href="{% url 'user_snippets' username=i.user.username %}"
                                                                 class="float-right"><small>{{ i.user.username }}</small></a></h5>
                    <div class="card-body">
                        <a href="{% url 'language' language=i.language.slug %}"><h5 class="card-title">{{ i.language.name }}</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">Creado: {{ i.created }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Actualizado: {{ i.updated }}</h6>
                        <p class="card-text">{{ i.description }}</p>
                        <hr>
                        <div class="actions-btn">
                            <a href="{% url 'snippet'  i.id %}" class="btn see-snippet-btn">Ver</a>
                            <div class="owner">
                                {% if request.user.username == i.user.username %}
                                    <a href="{% url 'snippet_edit' id=i.id %}" class="btn btn-info">
                                        <img src="{% static 'img/edit-icon.svg' %}" alt="editar-btn" class="icon-edit">
                                    </a>
                                    <a href="{% url 'snippet_delete' id=i.id %}?from={% if language_header %}language{% else %}index{% endif %}" class="btn btn-danger">
                                        <img src="{% static 'img/trash-icon.svg' %}" alt="delete-btn" class="icon-delete">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% empty %}
                <h3>No hay snippets disponibles</h3>
            {% endfor %}
            <!-- FIN SNIPPET -->
        </div>
    </div>
{% endblock %}