{% extends "login_base.html" %}
{% load crispy_forms_tags static %}

{% block content %}
<div class="login">

    <a href="{% url 'index' %}"><img src="{% static 'img/arrow-back.svg' %}" alt="back-btn" class="back-btn"></a>
    
    <form class="form-siging" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-4">Ingresar</h1>
        {{ form|crispy }}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
        <br>
        <a href="{% url 'register' %}">¿No tienes una cuenta?  Regístrate aca.</a>
    </form>

</div>
{% endblock %}
    