
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'index' %}">Snippets Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex justify-content-between w-100">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Snippets</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'index' %}">Listado de Snippets</a>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'user_snippets' username=user.username %}">Mis Snippets</a>
                        <a class="dropdown-item" href="{% url 'snippet_add' %}">Cargar Snippets</a>
                    {% endif %}
                </div>
            </li>
            <div class="auth">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" tabindex="-1">Salir</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" tabindex="-1">Ingresar</a>
                    </li>
                {% endif %}
            </div>
        </ul>
    </div>
</nav>